body {
   background:url(../img/bg2.jpg);
   background-size: cover;
   margin:0 0 0 0;
}

.dark {
    margin:0;
    padding: 120px;
    background:rgba(0, 0, 0, .46);
    min-height:820px;
}

.card {
    background:rgba(0, 0, 0, .5);
    /* border: .37px solid black; */
    padding: 23px;
    height: 420px;
    width:60%;
    margin: 0 auto;
    color: #f2f2f2d8;
    border-radius: 7px;

}